<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPgfX4O60-htLCPqzO7n7hobmqGTXYb_k</string>
	<key>GCM_SENDER_ID</key>
	<string>153312614511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>organization.Event-Heart-It-iOS</string>
	<key>PROJECT_ID</key>
	<string>event-heart-it-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>event-heart-it-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153312614511:ios:7bd8b32cc55c2b259a959a</string>
</dict>
</plist>